# Editor / IDE specific files
.vscode/
.idea/
settings.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

uv.lock
*uv.lock
./backend/uv.lock

# Virtual environments
.venv/
venv/
env/
.env
backend/src/features/checkins/models.py
backend/src/features/checkins/routers.py
backend/src/features/checkins/services.py
backend/src/migrations/versions/967c0e0ebf92_add_senior_time_to_checkins.py
backend/src/shared/api_response.py
