.title {
  text-align: center;
}

.subtitle {
  text-align: center;
  margin-bottom: 1.7rem;
}

.formContainer {
  width: clamp(300px, 80%, 600px);
  margin: 3rem auto;
  padding: 3rem;
  font-size: 1.25rem;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.formGroup {
  margin-bottom: 1rem;
}

.formLabel {
  font-weight: bold;
  margin-left: 0.2rem;
  cursor: pointer;
}

.formInput {
  width: 100%;
  height: 2rem;
  margin-bottom: 0.2rem;
  padding: 0.3rem 0.3rem 0.3rem 1rem;
}

.formInput::placeholder {
  color: gray;
}

/* Password wrapper */
.passwordWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.resetButton {
  background: none;
  border: none;
  padding: 0;
}

.toggleIcon {
  position: absolute;
  top: 35px;
  right: 10px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

/* Name wrapper */
.fullNameWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.nameWrapper {
  flex: 1;
}

/* T&C wrapper */
.termsAndConditionsWrapper {
  width: 100%;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "checkbox text"
    "error error";
  align-items: baseline;
}

.termsAndConditionsWrapper :global(.input-container) {
  margin: 0;
  display: contents;
}

.termsLabel {
  margin-left: 0.7rem;
  grid-area: text;
  cursor: pointer;
}

.termsAndConditionsCheckbox {
  cursor: pointer;
  grid-area: checkbox;
  width: fit-content;
  height: fit-content;
}

.termsAndConditionsLink {
  text-decoration: none;
  color: blue;
}

/* Input component error */
.errorTextBox.errorTextBox {
  padding-left: 0.2rem;
  grid-area: error;
}

/* Submit btn */
.submitBtnWrapper {
  display: flex;
  justify-content: center;
}

/* media */
@media screen and (max-width: 425px) {
  .fullNameWrapper {
    flex-direction: column;
    gap: 0;
  }

  .nameWrapper {
    width: 100%;
  }

  .formContainer {
    padding: 1.5rem;
  }
}
