.title {
  text-align: center;
  border-bottom: 2px solid gray;
  margin-bottom: 1.7rem;
  line-height: 1.5;
}

.inviteFormContainer {
  width: clamp(300px, 80%, 600px);
  padding: 2rem;
  font-size: 1.25rem;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.inviteEmailWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
}

.formLabel {
  font-weight: bold;
  margin-left: 0.2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.formInput {
  width: 100%;
  padding: 0.3rem 0.3rem 0.3rem 1rem;
  margin-bottom: 0.2rem;
}

.formInput::placeholder {
  color: gray;
}


.fullWidth {
  width: 100%;
}


.errorTextAligned {
  padding-left: 0;
}

.buttonWrapper {
  margin: 0 auto;
  text-align: center;
}

.sendInviteBtn {
  height: 3rem;
  margin-top: 1rem;
}
