.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px
}

@media (min-width: 768px) {
    .buttons {
        flex-direction: row;
    }
}