.btn {
  border: none;
  cursor: pointer;
  border-radius: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition:
    transform 0.1s ease,
    filter 0.2s ease;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: 700;
}

.btn:hover {
  filter: brightness(1.1);
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(4px);
  filter: brightness(0.95);
}

/* VARIANTS */
.btn-primary {
  background: linear-gradient(to bottom, #1e8449, #145a32);
  color: white;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    0 4px 0 #0b3d20,
    0 5px 10px rgba(0, 0, 0, 0.3);
}

.btn-primary:active {
  box-shadow:
    inset 0 2px 4px rgba(0, 0, 0, 0.2),
    0 0 0 #0b3d20,
    0 0 0 rgba(0, 0, 0, 0);
}

.btn-secondary {
  background: linear-gradient(to bottom, #16365f, #0b1c33);
  color: white;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 4px 0 #050e1a,
    0 5px 10px rgba(0, 0, 0, 0.3);
}

.btn-secondary:active {
  box-shadow:
    inset 0 2px 4px rgba(0, 0, 0, 0.2),
    0 0 0 #050e1a;
}

.btn-success {
  background: linear-gradient(to bottom, #4cf166, #13ec37);
  color: #003300;
  text-shadow: none;

  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    0 4px 0 #0ca626,
    0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-success:active {
  box-shadow:
    inset 0 2px 4px rgba(0, 0, 0, 0.1),
    0 0 0 #0ca626;
}

.btn-danger {
  background: linear-gradient(to bottom, #e74c3c, #c0392b);
  color: white;

  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    0 4px 0 #8a291f,
    0 5px 10px rgba(0, 0, 0, 0.3);
}

.btn-danger:active {
  box-shadow:
    inset 0 2px 4px rgba(0, 0, 0, 0.2),
    0 0 0 #8a291f;
}

.btn-outline-danger {
  background-color: transparent;
  border: 2px solid #ffcdd2;
  color: #d32f2f;
  box-shadow: none;
  text-shadow: none;
}

.btn-outline-danger:hover {
  background-color: #ffebee;
  transform: translateY(-1px);
}

.btn-outline-danger:active {
  transform: translateY(1px);
}

/* SIZES */
.btn-small {
  padding: 8px 16px;
  font-size: 0.875rem;
}

.btn-medium {
  width: 100%;
  max-width: 350px;
  padding: 12px 24px;
  font-size: 1rem;
}

.btn-large {
  width: 70%;
  height: 200px;
  padding: 24px 32px;
  border-radius: 20px;
  font-size: 1.5rem;
  flex-direction: row;
}

.btn-disabled {
  background-color: #ccc !important;
  color: #666 !important;
  cursor: not-allowed;
  box-shadow: none;
  transform: none !important;
  filter: none !important;
}
