
/* Base styles are mobile friendly */
/* .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: auto;
    padding: 8px;
}

.card{
    background-color: white;
    width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.dashboard-card-main-container {
    margin: auto;
    padding: 15px;
    min-width: 320px;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    align-content: stretch;
    justify-items: center;
    justify-content: stretch;
    flex-shrink: 0;
    background: #ffffff;
    border: 1px solid #c7c7c7;

    border-radius: 40px;
    box-shadow: -5px 7px 5px 0px #00000033;
    /*border: 2px solid #f6771cFF;*/  /*URGENT ONE*/
}


.senior-name {
    grid-column: 1 / 3;
    grid-row: 1;

}

.icon-status-time {
    grid-column: 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: start;
    row-gap: 6.08px;
    align-self: center;
    justify-self: center;
}

.icon{
    flex-shrink: 0;
}
.status{
    flex-shrink: 0;
}.time{
    flex-shrink: 0;
}

.call-button{
    grid-column: 1;
    grid-row: 2;
}

.message-button{
    grid-column: 2;
    grid-row: 2;
}