.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    height: 150px;
}

.iconTextContainer {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 2.2rem;
    height: 100%;
}

.subText {
    font-size: 1rem;
    padding-top: 10px;
    width: 100%;
    border-top: 2px solid #888;
}