p {
  margin: 0;
}

.form-container {
  width: clamp(300px, 80%, 600px);
  margin: 3rem auto 0 auto;
  padding: 3rem;
  font-size: 1.25rem;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.title {
  text-align: center;
  margin-bottom: 0.7rem;
}

.form-label {
  font-weight: bold;
  margin-left: 0.2rem;
  cursor: pointer;
}

form .form-input {
  width: 100%;
  margin-bottom: 0;
  padding: 0.3rem 0.3rem 0.3rem 1rem;
}

form .form-input::placeholder {
  color: gray;
}

/* Password wrapper */
.password-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.toggle-icon {
  position: absolute;
  top: 37px;
  right: 10px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

/* Name wrapper */
#full-name-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.name-wrapper {
  flex: 1;
}

/* T&C wrapper */
.terms-and-conditions-wrapper {
  width: 100%;
  margin-bottom: 0.7rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "checkbox text"
    "error error";
  align-items: baseline;
}

.terms-and-conditions-wrapper .input-container {
  margin: 0;
  display: contents;
}

.terms-and-conditions-wrapper .terms-label {
  margin-left: 0.7rem;
  grid-area: text;
  cursor: pointer;
}

.terms-and-conditions-checkbox {
  cursor: pointer;
  grid-area: checkbox;
  width: fit-content;
  height: fit-content;
}

.terms-and-conditions-link {
  text-decoration: none;
  color: blue;
}

/* Input component error */
span.error-text {
  padding-left: 0.2rem;
  grid-area: error;
}

/* Submit btn */
.submit-btn-wrapper {
  display: flex;
  justify-content: center;
}

/* media */
@media screen and (max-width: 425px) {
  #full-name-wrapper {
    flex-direction: column;
    gap: 0;
  }

  .name-wrapper {
    width: 100%;
  }
}

form > div:not(.terms-and-conditions-wrapper):not(.submit-btn-wrapper) {
  margin-bottom: 0.7rem;
}
